.ba-header-wrap {
  height: 60px;
  padding-top: 8px;
  background-color: #2c5a71;
}
.ba-main-menu {
    li + li {
        margin-left: 24px;
    }
  a {
    color: #fffafa;
    font-family: $header-font-family;
    font-weight: 300;
    font-size: 16px;
    &:hover {
      color: $primary-color;
    }
    &:focus {
      color: #00D2D2;
    }
  }
}

.off-canvas {
  .menu {
    a {
      padding: 10px;
    }
  }
}

.menu-icon {
    margin-left: 21px;
    &:after {
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 0 7px 0 rgba(255, 255, 255, 0.8), 0 14px 0 rgba(255, 255, 255, 0.8);
    }
}
