<footer class="ba-footer">
    <div class="row column">
            <div class="column small-4">
                    <ul class="menu">
                        <li>
                            <a href="095 228 0000"></a>
                            <a href="095 228 0000"></a>
                            <p>м. Полтава,</p>
                            <p>вул.Великотирнівська,7</p>
                        </li>
                    </ul>
                    <!-- /.menu -->
                </div>
                <!-- /.column small-4 -->
    </div>
    <!-- /.row -->
</footer>
<!-- /.ba-footer -->