<header class="ba-header-wrap">    
    <div class="ba-header-header">
        <div class="row align-middle ">
            <div class="column">
                <a href="/">
                    <img src="{{root}}assets/img/logo.svg" alt="Logo">
                </a>
            </div>
            <!-- /.column -->
            <div class="column shrink">
                <button class="ba-cabinet hide-for-medium" type="button" aria-label="Show Personal Cabinet">
                            <img src="{{root}}assets/img/user.svg" alt="">
                </button>
                <button class="menu-icon hide-for-medium" type="button" data-open="offCanvas" aria-label="Show menu"></button>
                
                <ul class="menu ba-main-menu show-for-medium">
                    <li {{#ifpage 'index'}}class="active"{{/ifpage}}><a href="index.html">Головна</a></li>
                    <li {{#ifpage 'directions'}}class="active"{{/ifpage}}><a href="directions.html">Напрямки</a></li>
                    <li {{#ifpage 'cabinet'}}class="active"{{/ifpage}}><a href="cabinet.html">Мій кабінет</a></li>
                </ul>
            </div>
            <!-- /.column -->
        </div>
        <!-- /.row -->
    </div>
</header>