<header class="ba-header-wrap">    
    <div class="ba-header-header">
        <div class="row align-middle ">
            <div class="column">
                <a href="/">
                    <img src="{{root}}assets/img/logo.png" alt="Logo">
                </a>
            </div>
            <!-- /.column -->
            <div class="column shrink">
                <button class="menu-icon dark hide-for-medium" type="button" data-open="offCanvas" aria-label="Show menu">
                        </button>
                <ul class="menu ba-main-menu show-for-medium">
                    <li {{#ifpage 'index'}} class="active" {{/ifpage}}><a href="index.html">Home</a></li>
                </ul>
            </div>
            <!-- /.column -->
        </div>
        <!-- /.row -->
    </div>
</header>